/* Write your CSS here */
.header-container {
  margin: 0 auto;
  width: 90%;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e2e8f0;
}

.header-heading {
  color: #475569;
  font-size: 35px;
}
