/* Write your CSS here */
.top-container {
  width: 100vw;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 80px;
  background-color: #475569;
}

.top-heading {
  color: #f1f5f9;
  font-size: 35px;
}

.element-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.check-box {
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

.label {
  color: #f1f5f9;
  font-size: 10px;
}
